.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .pattern {
    position: absolute;
    left: -200px;
    top: -30px;
    height: 700px;
    width: 700px;
    z-index: -1;

    @media (max-width: 720px) {
      display: none;
    }
  }

  .small-label {
    width: 80%;
    text-align: center;

    @media (max-width: 600px) {
      width: 95%;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .item {
      width: 30%;
      border-radius: 10px;
      background-color: white;
      margin: 20px auto;
      box-shadow: 0 1.8px 10px rgba(0, 0, 0, 0.04);
      cursor: pointer;
      transition: 0.6s ease all;
      padding: 30px;

      @media (max-width: 900px) {
        width: 300px;
      }

      @media (max-width: 600px) {
        width: 95%;
      }

      &:hover {
        box-shadow: 0 1.8px 50px rgba(0, 0, 0, 0.08);
      }

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }

      .title {
        font-family: "MuliBold";
        font-size: 18px;
        margin: 15px 0;
      }

      .small-label {
        text-align: start;
        width: 100%;
      }
    }
  }
}
