* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MuliBold";
  src: url(./assets/fonts/Muli-Bold.ttf);
}

@font-face {
  font-family: "MuliRegular";
  src: url(./assets/fonts/Muli.ttf);
}

@font-face {
  font-family: "MuliLight";
  src: url(./assets/fonts/Muli-Light.ttf);
}

@font-face {
  font-family: "MuliSemiBold";
  src: url(./assets/fonts/Muli-SemiBold.ttf);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;

  @media (max-width: 1024px) {
    padding: 0 80px;
  }

  @media (max-width: 920px) {
    padding: 0 50px;
  }

  @media (max-width: 720px) {
    padding: 0 35px;
  }

  @media (max-width: 620px) {
    padding: 0 15px;
  }

  @media (max-width: 440px) {
    padding: 0 10px;
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.big-label {
  font-family: "MuliBold";
  font-size: 30px;
}

.small-label {
  font-family: "MuliLight";
  font-size: 16px;
  color: #7d7987;
}

.hr {
  width: 54px;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

.btn {
  width: 200px;
  height: 56px;
  border-radius: 28px;
  border: 1px solid #458ff6;
  margin-top: 20px;
  padding-bottom: 5px;
  font-family: "MuliBold";
  font-size: 18px;
  color: #458ff6;
  background-color: transparent;
  transition: 0.6s ease all;

  &:hover {
    color: white;
    background-color: #458ff6;
  }
}

.logo-container {
  display: flex;
  align-items: center;

  p {
    font-family: "MuliBold";
  }

  .logo {
    width: 41px;
    height: 41px;
    display: grid;
    place-items: center;
    background-color: #458ff6;
    border-radius: 50%;

    p {
      color: white;
      font-size: 26px;
    }
  }

  .logo-text {
    font-size: 24px;
    color: #233348;
    margin-left: 10px;
  }
}
