.banner {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  position: relative;

  .pattern {
    position: absolute;
    top: -20px;
    left: -150px;
    width: 100px;
    height: 100px;
    object-fit: contain;

    @media (max-width: 700px) {
      display: none;
    }
  }

  @media (max-width: 700px) {
    height: calc(100vh - 300px);
  }

  .content {
    p {
      width: 70%;

      @media (max-width: 1024px) {
        width: 80%;
      }

      @media (max-width: 920px) {
        width: 100%;
      }

      @media (max-width: 700px) {
        width: 70%;
      }

      @media (max-width: 500px) {
        width: 90%;
      }
    }

    .title {
      font-size: 44px;
      font-family: "MuliBold";
    }

    .subtitle {
      font-size: 18px;
      color: #7d7987;
      font-family: "MuliLight";
      margin: 20px 0;
    }

    button {
      width: 200px;
      height: 56px;
      border-radius: 28px;
      background-color: #458ff6;
      margin-top: 20px;
      padding-bottom: 5px;
      font-family: "MuliBold";
      font-size: 18px;
      color: #fff;
    }
  }

  img {
    height: calc(80vh - 100px);
    width: auto;
    object-fit: contain;
    margin-left: 15px;

    @media (max-width: 1024px) {
      height: calc(60vh - 100px);
    }

    @media (max-width: 800px) {
      height: calc(50vh - 100px);
    }

    @media (max-width: 700px) {
      display: none;
    }
  }
}
