.offers {
  margin: 40px 0;

  .item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 50px 0;

    @media (max-width: 700px) {
      margin-bottom: 20px;
      padding: 20px 0;
    }

    @media (max-width: 440px) {
      padding: 0 10px;
    }

    &:first-of-type {
      flex-direction: row-reverse;

      .content {
        padding-left: 100px;
        padding-right: 0;

        @media (max-width: 1100px) {
          padding-left: 80px;
        }

        @media (max-width: 700px) {
          padding-left: 0px;
        }
      }
    }

    .content {
      padding-right: 100px;

      @media (max-width: 1100px) {
        padding-right: 80px;
      }

      @media (max-width: 700px) {
        padding-right: 0px;
      }

      .big-label {
        width: 80%;

        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }

    img {
      width: 45%;
      height: 100%;
      object-fit: contain;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}
